<div>
    <nav class='navbar navbar-default'>
        <div class='container-fluid'>
            <a class='navbar-brand'>{{pageTitle}}</a>
            <ul class='nav navbar-nav'>
                <li><a [routerLink]="['/']">Home</a></li>
                <li><a [routerLink]="['/userlist']">User List</a></li>
                <li><a [routerLink]="['/functiontest']">function Test</a></li>
                <li><a [routerLink]="['/arrowtest']">Arrow Test</a></li>
                <li><a [routerLink]="['/promisetest']">Promise Test</a></li>
            </ul>
        </div>
    </nav>
    <div class='container'>
        <router-outlet></router-outlet>
    </div>
</div>
